# See http://help.github.com/ignore-files/ for more about ignoring files.

backhand/backhand/__pycache__/__init__.cpython-312.pyc
backhand/backhand/cruds/__pycache__/controller.cpython-312.pyc
backhand/backhand/cruds/__pycache__/repo.cpython-312.pyc
backhand/backhand/cruds/__pycache__/service.cpython-312.pyc
backhand/backhand/cruds/domain/__pycache__/contest.cpython-312.pyc
backhand/backhand/cruds/domain/__pycache__/submission.cpython-312.pyc
backhand/backhand/cruds/domain/__pycache__/user_types.cpython-312.pyc
backhand/instance/mydb.db


# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Project specific
package-lock.json
