<!-- <nav>
    <a href="#"><img src="/assets/ico/Logo.png" class="logo" alt="logo"/></a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Contest</a></li>
        <li><a href="#">Ranking</a></li>
        <li><a href="/profile"><img src="/assets/ico/profile.png" class="profile-pic" alt="profile"/></a></li>
    </ul>                
</nav> -->

<!-- <nav *ngIf="userType === 'admin'">
     Admin navigation bar
    <a href="#"><img src="/assets/ico/Logo.png" class="logo" alt="logo"/></a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Contest</a></li>
        <li><a href="#">Ranking</a></li>
        <li><a href="#">Create Contest</a></li>
        <li><a href="/profile"><img src="/assets/ico/profile.png" class="profile-pic" alt="profile"/></a></li>
    </ul>                
</nav> -->

<nav>
    <!-- User navigation bar -->
    <a href="#"><img src="/assets/ico/Logo.png" class="logo" alt="logo"/></a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contest/0">Contest</a></li>
        <li><a href="#">Ranking</a></li>
        <li><a href="/profile/0"><img src="/assets/ico/profile.png" class="profile-pic" alt="profile"/></a></li>
    </ul>                
</nav>