<div class="contest-container">
    <div class="contest-card">
      <div class="card-header">
        <!-- <h2 class="card-subtitle-state text-muted">State: {{ contest.state }}</h2> -->
      </div>
      <div class="card-body">
        <div class="middle-section">
          <h2 class="card-subtitle mb-2 text-muted">Contest Name</h2>
          <input class="input-box" [(ngModel)]="contest.name" name="name" placeholder="Contest Name">
          <h2 class="card-subtitle mb-2 text-muted">Description</h2>
          <input class="input-box" [(ngModel)]="contest.description" name="description" placeholder="Contest Description">
          <!-- <p class="card-text">{{ contest.description }}</p> -->
            <h2 class="card-subtitle mb-2 text-muted">Task</h2>
            <input class="input-box" [(ngModel)]="contest.task.description" name="taskDescription" placeholder="Task Description">
            <!-- <p class="card-text">{{ contest.task.title }}</p> -->
            <!-- <p class="card-text">{{ contest.task.description }}</p> -->
            <h2 class="card-subtitle mb-2 text-muted">Maximum Participants</h2>
            <input class="input-box" [(ngModel)]="contest.maximumParticipants" name="maximumParticipants" placeholder="Maximum Participants">
            <!-- <p class="card-text-participants">{{ contest.participants }} / {{ contest.maximumParticipants }}</p> -->
            <!-- <h2 class="start-time-title">Start Time</h2> -->
            <!-- <p class="card-text-start-time">{{ contest.startTime }}</p> -->
            <!-- <h2 class="duration-title">Duration</h2> -->
            <!-- <p class="card-text-minutes">{{ contest.duration }} minutes</p> -->
              <h2 class="card-subtitle mb-2 text-muted">Set start time & duration</h2>
              <input class="input-box" [(ngModel)]="contest.startTime" name="startTime" placeholder="Start Time">
              <br>
              <input class="input-box" [(ngModel)]="contest.duration" name="duration" placeholder="Duration">
              <!-- <p class="card-text-submissions">{{ contest.submissions }}</p> -->
              <!-- <a href="/view-submissions/0">   -->
            <!-- <h2 class="card-subtitle mb-2 text-muted">Maximum Current Score</h2> -->
            <!-- <p class="card-text-rating">{{ contest.maxRating }}</p> -->
          <div class="voting-section">
            <!-- <h2 class="voting-title"></h2> -->
            <a href="/contest-creation/0">  <!--  0 este id-ul contest-ului -->
              <button class="create-btn">Create Contest</button>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>